DATABASE_URL=mysql://app:app@db:3306/app
PORT=8080
NODE_ENV=development
OAUTH_SERVER_URL=http://localhost:8080

# Zé Delivery API
ZE_DELIVERY_CLIENT_ID=""
ZE_DELIVERY_CLIENT_SECRET=""
ZE_DELIVERY_API_BASE_URL="https://seller-public-api.release.ze.delivery"
ZE_DELIVERY_USE_MOCKS=true
