{
  "openapi": "3.0.3",
  "info": {
    "version": "1.0",
    "title": "Zé Seller Public API",
    "description": "Está API tem como objetivo, disponibilizar as informações dos nossos parceiros, tais como pedidos, catalogo de produtos entre outros",
    "contact": {
      "name": "Zé Delivery",
      "url": "https://seller-public-api.ze.delivery/docs"
    },
    "license": {
      "name": "Apache 2.0",
      "url": "https://www.apache.org/licenses/LICENSE-2.0.html"
    },
    "x-logo": {
      "url": "https://d179mni5e0eiyk.cloudfront.net/logos/logozevert.png",
      "href": "https://seller-public-api.ze.delivery/docs",
      "altText": "Zé Delivery"
    }
  },
  "servers": [
    {
      "url": "https://seller-public-api.release.ze.delivery",
      "description": "Development server"
    },
    {
      "url": "https://seller-public-api.ze.delivery",
      "description": "Production server"
    }
  ],
  "paths": {
    "/auth": {
      "post": {
        "operationId": "auth",
        "tags": [
          "Authentication"
        ],
        "summary": "API Authentication",
        "description": "Com este método, será possível realizar a autenticação na API utilizando protocolo OAuth2. Com isso retornará um access_token que irá dar permissão de acesso a API.",
        "parameters": [
          {
            "in": "query",
            "required": true,
            "name": "grant_type",
            "description": "Deverá sempre ser utilizado `client_credentials`",
            "schema": {
              "type": "string"
            },
            "example": "client_credentials"
          },
          {
            "in": "query",
            "required": true,
            "name": "scope",
            "description": "Atualmente temos somente o `orders/read` como escopo possível.",
            "schema": {
              "type": "string"
            },
            "example": "orders/read"
          }
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/AuthInput"
              }
            }
          }
        }
      }
    },
    "/orders/{orderNumber}": {
      "get": {
        "operationId": "getOrderByNumber",
        "tags": [
          "Orders"
        ],
        "summary": "Detalhes do pedido",
        "description": "### Objetivo\n\nRecuperar os detalhes de um pedido a partir do seu número na plataforma Zé Delivery.\n\n### Quando usar\n\nUtilize este endpoint somente quando:\n\n- For necessário consultar o estado e dados completos de um pedido (items, total, merchant, delivery, customer — conforme permissões).\n- Houver um `orderNumber` válido gerado pela plataforma.\n- O parceiro tiver autorização para ver os dados sensíveis (aplicável somente se houver acordo legal).\n\n### Quando NÃO usar\n\nEste endpoint não deve ser utilizado para:\n\n- Polling massivo de listas de pedidos (usar `events:polling` para eventos).\n- Recuperar pedidos não pertencentes ao escopo do parceiro sem autorização.\n- Operações de escrita/alteração de pedido.\n\n### Importante\n\nAo consultar um pedido, um mesmo produto pode aparecer na resposta em **até duas linhas separadas**, com o mesmo identificador e os mesmos dados. As únicas diferenças entre essas duas linhas são os campos de `unitPrice`, onde um possui um valor promocional (mais baixo) e outro não, e o campo `hasLimitedPromotion`, que indica se aquela parte do produto foi vendida com a promoção:\n\n- `hasLimitedPromotion = true`: parte do produto vendida com preço promocional (ainda dentro da quantidade que tem desconto).\n- `hasLimitedPromotion = false`: parte do produto vendida pelo preço normal, seja porque a quantidade comprada passou do limite da promoção, seja porque o produto não tinha promoção.\n\nPor isso, ao processar a resposta, considere que a identificação única de uma linha de produto no pedido é a combinação **identificador do produto + `hasLimitedPromotion`**.\n<br>\n\n```mermaid\nsequenceDiagram\n  participant Parceiro as Seu sistema\n  participant API as Zé Seller Public API\n  Parceiro->>API: GET /orders/{orderNumber}\n  API-->>Parceiro: 200 com detalhes do pedido\n```",
        "parameters": [
          {
            "in": "path",
            "name": "orderNumber",
            "description": "O número do pedido na plataforma Zé Delivery",
            "required": true,
            "example": 123456789,
            "schema": {
              "type": "string",
              "minimum": 9
            }
          },
          {
            "in": "header",
            "name": "Authorization",
            "description": "token de autenticação para acessar o recurso",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrderOutput"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthError"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden Error",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal Error",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "x-amazon-apigateway-any-method": {
        "operationId": "methodNotAllowed",
        "tags": [
          "methodNotAllowed"
        ],
        "summary": "methodNotAllowed",
        "description": "Esse metodo é responsavel em responder 405 para metodos não declarados",
        "parameters": [
          {
            "in": "header",
            "name": "Authorization",
            "description": "token de autenticação para acessar o recurso",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "orderNumber",
            "description": "O número do pedido na plataforma Zé Delivery",
            "required": true,
            "example": 123456789,
            "schema": {
              "type": "string",
              "minimum": 9
            }
          }
        ],
        "responses": {
          "405": {
            "description": "Method not allowed",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/orders/{orderNumber}/confirm": {
      "post": {
        "operationId": "confirmOrder",
        "tags": [
          "Orders"
        ],
        "summary": "Confirmar pedido",
        "description": "### Objetivo\n\nConfirmar/aceitar um pedido no sistema do Zé (aceitação pelo estabelecimento/parceiro).\n\n### Quando usar\n\nUtilize este endpoint somente quando:\n\n- O estabelecimento/parceiro confirma que irá preparar o pedido.\n- É necessário informar `preparationTime`, `orderExternalCode` ou `createdAt` adicionais (opcionais).\n\n### Quando NÃO usar\n\nEste endpoint não deve ser utilizado para:\n\n- Cancelar pedidos (usar `/requestCancellation` ou `/cancel`).\n- Confirmar pedidos já confirmados sem validação (verificar status antes de confirmar).\n\n### Importante\n\nRecurso idempotente a nível de negócio — confirmar sem checar status pode gerar rejeições; o endpoint retorna `202` quando a requisição é aceita para processamento. Requer `Authorization` header. Campos possíveis no body: `preparationTime` (minutos), `orderExternalCode`, `createdAt`. Validar formato `createdAt` ISO UTC se informado.\n\n```mermaid\nsequenceDiagram\n  participant Parceiro as Seu sistema\n  participant API as Zé Seller Public API\n  Parceiro->>API: GET /orders/{orderNumber}\n  API-->>Parceiro: 200 com detalhes do pedido\n  Parceiro->>API: POST /orders/{orderNumber}/confirm\n  API-->>Parceiro: 202 aceite em processamento\n```",
        "parameters": [
          {
            "in": "header",
            "name": "Authorization",
            "description": "token de autenticação para acessar o recurso",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "orderNumber",
            "description": "O número do pedido na plataforma Zé Delivery",
            "required": true,
            "example": 123456789,
            "schema": {
              "type": "string",
              "minimum": 9
            }
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OrderConfirmInput"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Requisição em processamento",
            "headers": {},
            "content": {
              "application/json": {}
            }
          },
          "400": {
            "description": "Bad Request",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthError"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden Error",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal Error",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "x-amazon-apigateway-any-method": {
        "operationId": "methodNotAllowed",
        "tags": [
          "methodNotAllowed"
        ],
        "summary": "methodNotAllowed",
        "description": "Esse metodo é responsavel em responder 405 para metodos não declarados",
        "parameters": [
          {
            "in": "header",
            "name": "Authorization",
            "description": "token de autenticação para acessar o recurso",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "orderNumber",
            "description": "O número do pedido na plataforma Zé Delivery",
            "required": true,
            "example": 123456789,
            "schema": {
              "type": "string",
              "minimum": 9
            }
          }
        ],
        "responses": {
          "405": {
            "description": "Method not allowed",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/orders/{orderNumber}/requestCancellation": {
      "post": {
        "operationId": "requestOrderCancellation",
        "tags": [
          "Orders"
        ],
        "summary": "Solicitar cancelamento do pedido",
        "description": "### Objetivo\n\nSolicitar o cancelamento ou rejeição de um pedido, informando o código de motivo apropriado.\n\n### Quando usar\n\nUtilize este endpoint somente quando:\n\n- O estabelecimento não puder atender o pedido (ex.: `UNAVAILABLE_ITEM`, `RESTAURANT_WITHOUT_DELIVERY_PERSON` etc.).\n- O pedido ainda estiver em status que permite `requestCancellation` conforme regras de negócio.\n\n### Quando NÃO usar\n\nEste endpoint não deve ser utilizado para:\n\n- Cancelamentos feitos por entregador (use endpoints de logística quando aplicável).\n- Substituir o fluxo de cancelamento em massa sem observar regras por status do pedido.\n\n### Importante\n\nBody requer um `code` dentre os códigos documentados (ex.: `UNAVAILABLE_ITEM`, `SYSTEMIC_ISSUES`, etc.). Ver regras: se pedido já confirmado, apenas alguns códigos são aceitos; se não confirmado, outros códigos são aceitos — seguir a enumeração do Swagger. Retorna `202` quando aceita para processamento; erros `422` podem indicar validações de negócio sobre o status atual do pedido. Requer `Authorization` header.\n\n```mermaid\nsequenceDiagram\n  participant Parceiro as Seu sistema\n  participant API as Zé Seller Public API\n  Parceiro->>API: POST /orders/{orderNumber}/requestCancellation\n  API-->>Parceiro: 202 solicitação aceita para processamento\n```",
        "parameters": [
          {
            "in": "header",
            "name": "Authorization",
            "description": "token de autenticação para acessar o recurso",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "orderNumber",
            "description": "O número do pedido na plataforma Zé Delivery",
            "required": true,
            "example": 123456789,
            "schema": {
              "type": "string",
              "minimum": 9
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RequestOrderCancellation"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Requisição em processamento",
            "headers": {},
            "content": {
              "application/json": {}
            }
          },
          "400": {
            "description": "Bad Request",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthError"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden Error",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not Found. Retornado quando a semana ISO está fora da janela de consulta ou quando não há resumo de incentivo operacional para o estabelecimento e a semana informados.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal Error",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "x-amazon-apigateway-any-method": {
        "operationId": "methodNotAllowed",
        "tags": [
          "methodNotAllowed"
        ],
        "summary": "methodNotAllowed",
        "description": "Esse metodo é responsavel em responder 405 para metodos não declarados",
        "parameters": [
          {
            "in": "header",
            "name": "Authorization",
            "description": "token de autenticação para acessar o recurso",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "orderNumber",
            "description": "O número do pedido na plataforma Zé Delivery",
            "required": true,
            "example": 123456789,
            "schema": {
              "type": "string",
              "minimum": 9
            }
          }
        ],
        "responses": {
          "405": {
            "description": "Method not allowed",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/orders/{orderNumber}/cancel": {
      "post": {
        "operationId": "cancelOrder",
        "tags": [
          "Orders"
        ],
        "summary": "Cancelar pedido",
        "description": "### Objetivo\n\nCancelar um pedido em qualquer status (fluxo administrativo/operacional).\n\n### Quando usar\n\nUtilize este endpoint somente quando:\n\n- For necessário cancelar o pedido por motivos operacionais (ex.: falta de estoque, operação com problema).\n- O parceiro tiver autorização para executar cancelamentos diretos.\n\n### Quando NÃO usar\n\nEste endpoint não deve ser utilizado para:\n\n- Rejeição de pedido antes de confirmação sem usar os códigos corretos em `requestCancellation` (conforme política/fluxo acordado).\n- Cancelamentos sem justificativa correta (usar `code` obrigatória).\n\n### Importante\n\nBody requer `code` entre os valores permitidos (ex.: `POC_STOCKOUT`, `OPER_ISSUES`, `DELIVERY_ISSUE`, etc.). Retorna `202` quando aceita para processamento; `422` para erro de validação de negócio. Requer `Authorization` header.\n\n```mermaid\nsequenceDiagram\n  participant Parceiro as Seu sistema\n  participant API as Zé Seller Public API\n  Parceiro->>API: POST /orders/{orderNumber}/confirm\n  API-->>Parceiro: 202 aceite em processamento\n  Parceiro->>API: POST /orders/{orderNumber}/cancel\n  API-->>Parceiro: 202 cancelamento em processamento\n```",
        "parameters": [
          {
            "in": "header",
            "name": "Authorization",
            "description": "token de autenticação para acessar o recurso",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "orderNumber",
            "description": "O número do pedido na plataforma Zé Delivery",
            "required": true,
            "example": 123456789,
            "schema": {
              "type": "string",
              "minimum": 9
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CancelOrderInput"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Requisição em processamento",
            "content": {
              "application/json": {}
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthError"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "x-amazon-apigateway-any-method": {
        "operationId": "methodNotAllowed",
        "tags": [
          "methodNotAllowed"
        ],
        "summary": "methodNotAllowed",
        "description": "Esse metodo é responsavel em responder 405 para metodos não declarados",
        "parameters": [
          {
            "in": "header",
            "name": "Authorization",
            "description": "token de autenticação para acessar o recurso",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "orderNumber",
            "description": "O número do pedido na plataforma Zé Delivery",
            "required": true,
            "example": 123456789,
            "schema": {
              "type": "string",
              "minimum": 9
            }
          }
        ],
        "responses": {
          "405": {
            "description": "Method not allowed",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/events:polling": {
      "get": {
        "operationId": "getEventsByPolling",
        "tags": [
          "Events"
        ],
        "summary": "Events polling",
        "description": "### Objetivo\n\nExpor eventos de alteração de pedidos (CREATED, CONFIRMED, DISPATCHED, CANCELLED, CONCLUDED) via polling.\n\n### Quando usar\n\nPara sincronização assíncrona de eventos: consumir mudanças de status de pedidos. Quando o parceiro não usa webhook e prefere polling.\n\n### Quando NÃO usar\n\nNão usar para consultas ad-hoc de detalhes do pedido (chamar `/orders/{orderNumber}` para detalhes). Não usar sem informar `x-polling-merchants` header com os merchantIds.\n\n### Importante\n\nRequer header `x-polling-merchants` (lista de merchant ids) e `Authorization`. Pode filtrar por `eventType`. Schema de resposta: array de `EventPollingOutput`.\n\n```mermaid\nsequenceDiagram\n  participant Parceiro as Seu sistema\n  participant API as Zé Seller Public API\n  Parceiro->>API: GET /events:polling\n  API-->>Parceiro: 200 — eventos ainda não confirmados\n```",
        "parameters": [
          {
            "in": "header",
            "name": "x-polling-merchants",
            "description": "Os ids dos estabelecimentos requirido.",
            "required": true,
            "example": "123,1234",
            "schema": {
              "type": "array"
            }
          },
          {
            "in": "header",
            "name": "Authorization",
            "description": "token de autenticação para acessar o recurso",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "eventType",
            "description": "Status dos eventos do pedido",
            "required": false,
            "example": "CREATED",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/OrderStatusEnum"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/EventPollingOutput"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthError"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal Error",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "x-amazon-apigateway-any-method": {
        "operationId": "methodNotAllowed",
        "tags": [
          "methodNotAllowed"
        ],
        "summary": "methodNotAllowed",
        "description": "Esse metodo é responsavel em responder 405 para metodos não declarados",
        "parameters": [
          {
            "in": "header",
            "name": "x-polling-merchants",
            "description": "Os ids dos estabelecimentos requirido.",
            "required": true,
            "example": "123,1234",
            "schema": {
              "type": "array"
            }
          },
          {
            "in": "header",
            "name": "Authorization",
            "description": "token de autenticação para acessar o recurso",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "eventType",
            "description": "Status dos eventos do pedido",
            "required": false,
            "example": "CREATED",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/OrderStatusEnum"
              }
            }
          }
        ],
        "responses": {
          "405": {
            "description": "Method not allowed",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/events/acknowledgment": {
      "post": {
        "operationId": "postEventsAcknwoledgment",
        "tags": [
          "Events"
        ],
        "summary": "Events acknowledgment",
        "description": "### Objetivo\n\nAcknowledge — notificar a API que eventos foram consumidos para que não sejam retornados novamente no polling.\n\n### Quando usar\n\nApós consumir com sucesso eventos obtidos por `GET /events:polling`, envie ack com lista de `EventAcknowledgementInput`.\n\n### Quando NÃO usar\n\nNão usar para sinalizar falha de processamento (ack indica consumo bem-sucedido).\n\n### Importante\n\nRequer `Authorization`. Recebe array de objetos com `id`, `orderId`, `eventType`. Retorna `202` informando que vai ser processada a requisição.\n\n```mermaid\nsequenceDiagram\n  participant Parceiro as Seu sistema\n  participant API as Zé Seller Public API\n  Note over Parceiro,API: Após processar eventos obtidos em GET /events:polling\n  Parceiro->>API: POST /events/acknowledgment\n  API-->>Parceiro: 202 — requisição aceita (eventos não voltam no próximo polling)\n```",
        "parameters": [
          {
            "in": "header",
            "name": "Authorization",
            "description": "token de autenticação para acessar o recurso",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/EventAcknowledgementInput"
                }
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Requisição em processamento",
            "headers": {},
            "content": {
              "application/json": {}
            }
          },
          "400": {
            "description": "Bad Request",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthError"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden Error",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal Error",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "x-amazon-apigateway-any-method": {
        "operationId": "methodNotAllowed",
        "tags": [
          "methodNotAllowed"
        ],
        "summary": "methodNotAllowed",
        "description": "Esse metodo é responsavel em responder 405 para metodos não declarados",
        "parameters": [
          {
            "in": "header",
            "name": "Authorization",
            "description": "token de autenticação para acessar o recurso",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "405": {
            "description": "Method not allowed",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/callbacks/order-events-webhook": {
      "post": {
        "operationId": "webhookOrderEventsInboundContract",
        "tags": [
          "Events"
        ],
        "summary": "Webhook — POST recebido na sua URL",
        "description": "Esta operação **não** existe na Zé Seller Public API como rota a ser chamada por você. Ela documenta a **requisição HTTP** que a plataforma envia para a **URL** cadastrada em `PATCH /webhooks` quando a inscrição inclui `ORDER_EVENTS` e há um evento a entregar.\n\n**Método e corpo:** `POST` com `Content-Type: application/json` e corpo conforme o **schema ao lado**.\n\n**Resposta esperada:** seu endpoint deve responder com código HTTP **2xx** para indicar recebimento processado; outros códigos podem implicar políticas de retentativa conforme a plataforma (404 não há retentativa e para os demais erros há 3 tentativas).\n\n**Nota:** o método publicado neste host (`POST /callbacks/order-events-webhook`) existe apenas para fins de documentação; **não** é o caminho que recebe o webhook — o caminho é o da sua própria URL configurada.\n\n**Nota:** use os headers **`X-App-Signature`** e **`X-App-Timestamp`** para validar a requisição.\n\n<br>\n\n```mermaid\nsequenceDiagram\n  participant SPA as Zé Seller Public API\n  participant API as Seu Sistema\n  SPA->>API: POST https://seu.webhook.com\n  Note right of API: Processa a requisição\n  API-->>SPA: 200 Evento processado com sucesso\n```",
        "servers": [
          {
            "url": "https://{host}",
            "description": "Substitua pelo host e caminho da URL que você configurou em Webhooks (ex.: `https://api.parceiro.com/v1/ze-webhook`).",
            "variables": {
              "host": {
                "default": "api.parceiro.com",
                "description": "Host do seu servidor que recebe o POST."
              }
            }
          }
        ],
        "parameters": [
          {
            "in": "header",
            "name": "X-App-Signature",
            "required": true,
            "description": "é a **assinatura de integridade da requisição**: calculada com **SHA-256** sobre o **timestamp e o payload bruto** do JSON recebidos no corpo da requisição, usando como segredo o valor **`hash`** obtido na criação do webhook via `PATCH /webhooks`. O cabeçalho costuma seguir o padrão **`sha256=<digest_hexadecimal>`**.",
            "schema": {
              "type": "string",
              "example": "sha256=a1b2c3d4e5f6789012345678901234567890abcdef1234567890abcdef123456"
            }
          },
          {
            "in": "header",
            "name": "X-App-Timestamp",
            "required": true,
            "description": "Timestamp da requisição em segundos (Unix timestamp). Utilize para validar o **`X-App-Signature`**.",
            "schema": {
              "type": "number",
              "example": 1714857600
            }
          },
          {
            "in": "header",
            "name": "Content-Type",
            "required": true,
            "description": "Tipo de mídia do corpo.",
            "schema": {
              "type": "string",
              "enum": [
                "application/json"
              ]
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WebhookDeliveryPayload"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Recebimento aceito (ex.: 200 ou 204)."
          },
          "400": {
            "description": "Falha tratada pelo seu lado — exemplos: 400, 401, 403, 422 e demais 4xx (3 retentativas)"
          },
          "404": {
            "description": "Rota não encontrada (não há retentativa)."
          },
          "500": {
            "description": "Erro no seu servidor — exemplos: 500, 502, 503 e demais 5xx(3 retentativas)"
          }
        }
      }
    },
    "/webhooks": {
      "patch": {
        "operationId": "patchWebhooks",
        "tags": [
          "Webhooks"
        ],
        "summary": "Configurar webhook",
        "description": "### Objetivo\n\nRegistrar ou atualizar a configuração de webhook do cliente autenticado na Seller Public API: URL de entrega dos eventos, se o webhook está ativo e quais categorias de eventos o parceiro deseja receber.\n\n### Quando usar\n\nQuando o parceiro optar por notificações enviadas pela plataforma para um endpoint próprio em substituição ao fluxo de polling.\n\n### Quando NÃO usar\n\nNão usar apenas para ler a configuração atual — para isso utilize `GET /webhooks`. Este endpoint não entrega a fila de eventos; ele apenas persiste a política de entrega (URL, ativo, inscrições).\n\n### Importante\n\nCada credencial de cliente mantém uma única configuração de webhook (comportamento de upsert). Na primeira criação, a resposta inclui o campo `hash` (segredo em hexadecimal) usado para validar entregas no seu endpoint; nas atualizações seguintes, o `hash` não é devolvido no corpo — armazene o segredo com segurança na primeira resposta bem-sucedida. O campo `endpoint` é obrigatório e deve ser uma URI válida. É necessário header `Authorization` com token válido para a API.\n\n```mermaid\nsequenceDiagram\n  participant Parceiro as Seu sistema\n  participant API as Zé Seller Public API\n  Parceiro->>API: PATCH /webhooks\n  API-->>Parceiro: 200 — configuração persistida\n```",
        "parameters": [
          {
            "in": "header",
            "name": "Authorization",
            "description": "token de autenticação para acessar o recurso",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WebhookPatchRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK (sucesso: o serviço responde 201 Created; o API Gateway mapeia 2xx para 200)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebhookUpsertResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthError"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "get": {
        "operationId": "getWebhooks",
        "tags": [
          "Webhooks"
        ],
        "summary": "Listar webhook do cliente",
        "description": "### Objetivo\n\nConsultar a configuração de webhook associada ao cliente autenticado na Seller Public API.\n\n### Quando usar\n\nPara exibir ou auditar URL, estado ativo/inativo e inscrições de eventos em painéis ou ferramentas internas. Para confirmar se já existe webhook cadastrado antes de um `PATCH /webhooks`, ou para recuperar o `hash` quando a configuração já existia e o segredo ainda é o mesmo persistido na plataforma.\n\n### Quando NÃO usar\n\nNão lista eventos como no `GET - events:polling`. Para criar ou alterar as configurações do webhook, use `PATCH /webhooks`.\n\n### Importante\n\nSe não houver registro, a resposta é um array vazio. Quando há configuração, a API retorna um array com exatamente um objeto contendo identificação do cliente, segredo, endpoint, indicador de ativo e lista de inscrições. Requer header `Authorization` com token válido.\n\n```mermaid\nsequenceDiagram\n  participant Parceiro as Seu sistema\n  participant API as Zé Seller Public API\n  Parceiro->>API: GET /webhooks\n  API-->>Parceiro: 200 — array com 0 ou 1 item\n```",
        "parameters": [
          {
            "in": "header",
            "name": "Authorization",
            "description": "token de autenticação para acessar o recurso",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Webhook"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthError"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "x-amazon-apigateway-any-method": {
        "operationId": "methodNotAllowedWebhooks",
        "tags": [
          "methodNotAllowed"
        ],
        "summary": "methodNotAllowed",
        "description": "Esse metodo é responsavel em responder 405 para metodos não declarados",
        "parameters": [
          {
            "in": "header",
            "name": "Authorization",
            "description": "token de autenticação para acessar o recurso",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "405": {
            "description": "Method not allowed",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/merchants/{merchantId}/availability": {
      "post": {
        "operationId": "merchantsAvailability",
        "tags": [
          "Merchants"
        ],
        "summary": "Make merchant availability",
        "description": "### Objetivo\n\nAbrir ou fechar um estabelecimento (operational availability) no Zé.\n\n### Quando usar\n\nPara operação de abertura (`operation: AVAILABLE`) ou fechamento (`operation: CLOSED`) do PDV com razão obrigatória quando `CLOSED`.\n\n### Quando NÃO usar\n\nNão usar para alterar disponibilidade de produtos individuais (use `products/availability`).\n\n### Importante\n\nBody com `operation` enum (`AVAILABLE` | `CLOSED`); `reasons` obrigatório quando `CLOSED`. Requer `Authorization`. Retornos: 200/422 conforme validação.\n\n```mermaid\nsequenceDiagram\n  participant Parceiro as Seu sistema\n  participant API as Zé Seller Public API\n  Parceiro->>API: POST /merchants/{merchantId}/availability\n  API-->>Parceiro: 200 ou 422 conforme validação\n```",
        "parameters": [
          {
            "in": "header",
            "name": "Authorization",
            "description": "token de autenticação para acessar o recurso",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "merchantId",
            "description": "O id do estabelecimento",
            "required": true,
            "example": "1234",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/merchantAvaiabilityInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Requisição em processamento",
            "headers": {},
            "content": {
              "application/json": {}
            }
          },
          "400": {
            "description": "Bad Request",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthError"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal Error",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "x-amazon-apigateway-any-method": {
        "operationId": "methodNotAllowed",
        "tags": [
          "methodNotAllowed"
        ],
        "summary": "methodNotAllowed",
        "description": "Esse metodo é responsavel em responder 405 para metodos não declarados",
        "parameters": [
          {
            "in": "header",
            "name": "Authorization",
            "description": "token de autenticação para acessar o recurso",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "merchantId",
            "description": "O id do estabelecimento",
            "required": true,
            "example": "1234",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "405": {
            "description": "Method not allowed",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/merchants/{merchantId}/products/items": {
      "post": {
        "operationId": "createProductItem",
        "tags": [
          "Products"
        ],
        "summary": "Create product item",
        "description": "### Objetivo\n\nCriar (`POST`) um item de produto para um estabelecimento (inclui price, images, category, tags).\n\n### Quando usar\n\n`POST`: criar SKUs exclusivos do parceiro para o merchant (catálogo externo/partner-managed).\n\n### Quando NÃO usar\n\nNão usar para criar SKUs que pertencem ao catálogo padrão do Zé sem autorização. Evitar duplicar `productId` vs `externalProductId` — a regra do Swagger indica que **exatamente um** dos identificadores é obrigatório.\n\n### Importante\n\nRegras de validação: exatamente um de `productId` ou `externalProductId` deve ser enviado; se `price` informado, `value` e `originalValue` são obrigatórios; imagens têm `image` obrigatório. Requer `Authorization`. Respostas podem retornar `202` (async processing) ou erros `422`/`400`.\n\n```mermaid\nsequenceDiagram\n  participant Parceiro as Seu sistema\n  participant API as Zé Seller Public API\n  Parceiro->>API: POST /merchants/{merchantId}/products/items\n  API-->>Parceiro: 202 ou erro de validação\n```",
        "parameters": [
          {
            "in": "header",
            "name": "Authorization",
            "description": "token de autenticação para acessar o recurso",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "merchantId",
            "description": "O id do estabelecimento",
            "required": true,
            "example": "1234",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ProductCreateRequest"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Requisição em processamento",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AcceptedResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthError"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "put": {
        "operationId": "updateProductItem",
        "tags": [
          "Products"
        ],
        "summary": "Update product item",
        "description": "### Objetivo\n\nAtualizar (`PUT`) um item de produto para um estabelecimento (inclui price, images, category, tags).\n\n### Quando usar\n\n`PUT`: atualizar metadados do item (nome, descrição, preço, imagens).\n\n### Quando NÃO usar\n\nNão usar para alterar SKUs que pertencem ao catálogo padrão do Zé sem autorização. Evitar duplicar `productId` vs `externalProductId` — a regra do Swagger indica que **exatamente um** dos identificadores é obrigatório.\n\n### Importante\n\nRegras de validação: exatamente um de `productId` ou `externalProductId` deve ser enviado; se `price` informado, `value` e `originalValue` são obrigatórios; imagens têm `image` obrigatório. Requer `Authorization`. Respostas podem retornar `202` (async processing) ou erros `422`/`400`.\n\n```mermaid\nsequenceDiagram\n  participant Parceiro as Seu sistema\n  participant API as Zé Seller Public API\n  Parceiro->>API: PUT /merchants/{merchantId}/products/items\n  API-->>Parceiro: 202 ou erro de validação\n```",
        "parameters": [
          {
            "in": "header",
            "name": "Authorization",
            "description": "token de autenticação para acessar o recurso",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "merchantId",
            "description": "O id do estabelecimento",
            "required": true,
            "example": "1234",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateProductItemRequest"
              },
              "example": {
                "productId": "1234",
                "externalProductId": "1234",
                "name": "Nome do Produto",
                "description": "Descrição do produto",
                "category": "categoria",
                "price": {
                  "value": 29.9,
                  "originalValue": 39.9,
                  "currency": "BRL"
                },
                "images": [
                  {
                    "image": "https://exemplo.com/imagem.jpg",
                    "description": "Imagem principal",
                    "order": 1
                  }
                ],
                "tags": [
                  "tag1",
                  "tag2"
                ]
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Request in processing",
            "content": {
              "application/json": {}
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthError"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "x-amazon-apigateway-any-method": {
        "operationId": "methodNotAllowed",
        "tags": [
          "methodNotAllowed"
        ],
        "summary": "methodNotAllowed",
        "description": "Esse metodo é responsavel em responder 405 para metodos não declarados",
        "parameters": [
          {
            "in": "header",
            "name": "Authorization",
            "description": "token de autenticação para acessar o recurso",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "merchantId",
            "description": "O id do estabelecimento",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "405": {
            "description": "Method not allowed",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/merchants/products/items": {
      "put": {
        "operationId": "upsertProductItems",
        "tags": [
          "Products"
        ],
        "summary": "Upsert product items",
        "description": "### Objetivo\n\nUpsert em lote (atualizar múltiplos produtos) — sincronização inicial ou periódica de catálogo parceiro.\n\n### Quando usar\n\nOnboarding inicial de catálogo exclusivo do parceiro ou sincronização de muitos SKUs.\n\n### Quando NÃO usar\n\nPara atualizações unitárias frequentes (usar endpoints unitários); não criar produtos no catálogo oficial do Zé.\n\n### Importante\n\nRecurso assíncrono: retorna `202` para processamento; validações por item podem retornar `422`. Requer `Authorization`. Limitações de tamanho de payload não documentadas explicitamente no Swagger — validar com infraestrutura antes de enviar grandes lotes.\n\n```mermaid\nsequenceDiagram\n  participant Parceiro as Seu sistema\n  participant API as Zé Seller Public API\n  Parceiro->>API: PUT /merchants/products/items\n  API-->>Parceiro: 202 — processamento assíncrono\n```",
        "parameters": [
          {
            "in": "header",
            "name": "Authorization",
            "description": "token de autenticação para acessar o recurso",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/upsertProductItemsInput"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Request in processing",
            "content": {
              "application/json": {}
            }
          },
          "400": {
            "description": "Bad Request",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthError"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal Error",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "x-amazon-apigateway-any-method": {
        "operationId": "methodNotAllowed",
        "tags": [
          "methodNotAllowed"
        ],
        "summary": "methodNotAllowed",
        "description": "Esse metodo é responsavel em responder 405 para metodos não declarados",
        "parameters": [
          {
            "in": "header",
            "name": "Authorization",
            "description": "token de autenticação para acessar o recurso",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "405": {
            "description": "Method not allowed",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/merchants/products/promos": {
      "put": {
        "operationId": "updateProductPromos",
        "tags": [
          "Products"
        ],
        "summary": "Update product promotions",
        "description": "### Objetivo\n\nAtualizar promoções de produtos para múltiplos estabelecimentos em lote.\n\n### Quando usar\n\nAplicar/retirar campanhas/promos para vários merchants de uma só vez.\n\n### Quando NÃO usar\n\nPara promoções que impactam catálogo padrão sem acordo; não usar para promoções ad-hoc sem campos obrigatórios.\n\n### Importante\n\nEstrutura: array de `ProductPromoInput`. Regras: se `isEnabled=true`, `percentage` e `scheduleType` são obrigatórios, caso contrário não devem ser enviados. Deve ser usado productId ou externalProductId em ambos os casos. Requer `Authorization`. Retorna `202` quando aceito.\n\n```mermaid\nsequenceDiagram\n  participant Parceiro as Seu sistema\n  participant API as Zé Seller Public API\n  Parceiro->>API: PUT /merchants/products/promos\n  API-->>Parceiro: 202 quando aceito\n```",
        "parameters": [
          {
            "in": "header",
            "name": "Authorization",
            "description": "token de autenticação para acessar o recurso",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ProductPromoInputEnabled"
                    },
                    {
                      "$ref": "#/components/schemas/ProductPromoInputDisabled"
                    }
                  ]
                }
              },
              "examples": {
                "promocaoAtivada": {
                  "summary": "Promoção ativada",
                  "value": [
                    {
                      "merchantId": "1234",
                      "productId": "5678",
                      "isEnabled": true,
                      "percentage": 15.5,
                      "scheduleType": "ALWAYS"
                    }
                  ]
                },
                "promocaoDesativada": {
                  "summary": "Promoção desativada",
                  "value": [
                    {
                      "merchantId": "1234",
                      "productId": "5678",
                      "isEnabled": false
                    }
                  ]
                }
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Request in processing",
            "content": {
              "application/json": {}
            }
          },
          "400": {
            "description": "Bad Request",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthError"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden Error",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal Error",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "x-amazon-apigateway-any-method": {
        "operationId": "methodNotAllowed",
        "tags": [
          "methodNotAllowed"
        ],
        "summary": "methodNotAllowed",
        "description": "Esse metodo é responsavel em responder 405 para metodos não declarados",
        "parameters": [
          {
            "in": "header",
            "name": "Authorization",
            "description": "token de autenticação para acessar o recurso",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "405": {
            "description": "Method not allowed",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/merchants/{merchantId}/products/availability": {
      "post": {
        "operationId": "updateProductAvailability",
        "tags": [
          "Products"
        ],
        "summary": "Update product availability",
        "description": "### Objetivo\n\nAtualizar disponibilidade (on/off) de um SKU do estabelecimento (produto ou `externalProductId`).\n\n### Quando usar\n\nQuando o parceiro precisa marcar um produto específico como disponível ou indisponível no PDV.\n\n### Quando NÃO usar\n\nPara atualizar produtos do catálogo padrão do Zé (aplicável somente a SKUs gerenciados pelo parceiro quando apropriado).\n\n### Importante\n\nBody aceita `productId` (integer) **ou** `externalProductId` (string) e `available` boolean. Requer `Authorization`. Retorna `200` com objeto de confirmação.\n\n```mermaid\nsequenceDiagram\n  participant Parceiro as Seu sistema\n  participant API as Zé Seller Public API\n  Parceiro->>API: POST /merchants/{merchantId}/products/availability\n  API-->>Parceiro: 200 com confirmação\n```",
        "parameters": [
          {
            "in": "header",
            "name": "Authorization",
            "description": "token de autenticação para acessar o recurso",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "merchantId",
            "description": "O id do estabelecimento",
            "required": true,
            "example": "1234",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "productId": {
                    "type": "integer",
                    "description": "O identificador do produto na plataforma Zé Delivery.",
                    "example": "1234"
                  },
                  "externalProductId": {
                    "type": "string",
                    "description": "O identificador do produto em plataforma de terceiros.",
                    "example": "1234"
                  },
                  "available": {
                    "type": "boolean",
                    "description": "A disponibilidade do produto",
                    "example": true
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "headers": {},
            "content": {
              "application/json": {
                "type": "object",
                "properties": {
                  "productId": {
                    "type": "integer",
                    "description": "O identificador do produto na plataforma Zé Delivery.",
                    "example": 1234
                  },
                  "externalProductId": {
                    "type": "string",
                    "description": "O identificador do produto em plataforma de terceiros.",
                    "example": "1234"
                  },
                  "available": {
                    "type": "boolean",
                    "description": "A disponibilidade do produto",
                    "example": true
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthError"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden Error",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal Error",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "x-amazon-apigateway-any-method": {
        "operationId": "methodNotAllowed",
        "tags": [
          "methodNotAllowed"
        ],
        "summary": "methodNotAllowed",
        "description": "Esse metodo é responsavel em responder 405 para metodos não declarados",
        "parameters": [
          {
            "in": "header",
            "name": "Authorization",
            "description": "token de autenticação para acessar o recurso",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "merchantId",
            "description": "O id do estabelecimento",
            "required": true,
            "example": "1234",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "405": {
            "description": "Method not allowed",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/logistics/delivery/{orderNumber}": {
      "get": {
        "operationId": "getDeliveryDetailsByNumber",
        "tags": [
          "Logistics"
        ],
        "summary": "Delivery details",
        "description": "### Objetivo\n\nRecuperar detalhes de entrega de um pedido (nome do cliente, entregador, preços, `pickupCode`, endereço).\n\n### Quando usar\n\nUtilize este endpoint somente quando:\n\n- For necessário realizar consultas operacionais sobre rota e dados do entregador para execução da entrega.\n- For preciso verificar o `pickupCode` para coleta do pedido no PDV.\n\n### Quando NÃO usar\n\nEste endpoint não deve ser utilizado para:\n\n- Alterar o status de entrega do pedido (use os endpoints POST do grupo Logistics).\n- Obter dados completos do pedido além das informações de entrega (use `GET /orders/{orderNumber}`).\n\n### Importante\n\nRequer header `Authorization: Bearer <token>`. Schema de resposta: `DeliveryDetailsOutput`.\n\n```mermaid\nsequenceDiagram\n  participant Parceiro as Seu sistema\n  participant API as Zé Seller Public API\n  Parceiro->>API: GET /logistics/delivery/{orderNumber}\n  API-->>Parceiro: 200 com detalhes da entrega (entregador, pickupCode, endereço)\n```",
        "parameters": [
          {
            "in": "path",
            "name": "orderNumber",
            "description": "O número do pedido na plataforma Zé Delivery",
            "required": true,
            "example": 123456789,
            "schema": {
              "type": "string",
              "minimum": 9
            }
          },
          {
            "in": "header",
            "name": "Authorization",
            "description": "token de autenticação para acessar o recurso",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeliveryDetailsOutput"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthError"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden Error",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal Error",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "x-amazon-apigateway-any-method": {
        "operationId": "methodNotAllowed",
        "tags": [
          "methodNotAllowed"
        ],
        "summary": "methodNotAllowed",
        "description": "Esse metodo é responsavel em responder 405 para metodos não declarados",
        "parameters": [
          {
            "in": "path",
            "name": "orderNumber",
            "description": "O número do pedido na plataforma Zé Delivery",
            "required": true,
            "example": 123456789,
            "schema": {
              "type": "string",
              "minimum": 9
            }
          },
          {
            "in": "header",
            "name": "Authorization",
            "description": "token de autenticação para acessar o recurso",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "405": {
            "description": "Method not allowed",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/logistics/orderPicked/{orderNumber}": {
      "post": {
        "operationId": "orderPicked",
        "tags": [
          "Logistics"
        ],
        "summary": "Order Picked",
        "description": "### Objetivo\n\nInformar que o entregador pegou o pedido no PDV (marcar pickup).\n\n### Quando usar\n\nUtilize este endpoint somente quando:\n\n- For necessário confirmar que o entregador recebeu fisicamente o pedido no ponto de venda.\n- O body obrigatório com o `email` do entregador estiver disponível.\n\n### Quando NÃO usar\n\nEste endpoint não deve ser utilizado para:\n\n- Indicar chegada ao endereço do cliente ou entrega final — use `/logistics/arrived/{orderNumber}` ou `/logistics/finishDelivery/{orderNumber}`.\n- Registrar outros eventos da jornada do entregador antes da coleta.\n\n### Importante\n\nRequer header `Authorization: Bearer <token>`. Retorna `202` quando aceito para processamento. Schema do body: `PickedOrderInput`.\n\n```mermaid\nsequenceDiagram\n  participant Entregador as Seu sistema (entregador)\n  participant API as Zé Seller Public API\n  Entregador->>API: POST /logistics/orderPicked/{orderNumber}\n  Note right of API: Body: { email }\n  API-->>Entregador: 202 Aceito para processamento\n```",
        "parameters": [
          {
            "in": "header",
            "name": "Authorization",
            "description": "token de autenticação para acessar o recurso",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "orderNumber",
            "description": "O número do pedido na plataforma Zé Delivery",
            "required": true,
            "example": 123456789,
            "schema": {
              "type": "string",
              "minimum": 9
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PickedOrderInput"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Requisição em processamento",
            "headers": {},
            "content": {
              "application/json": {}
            }
          },
          "400": {
            "description": "Bad Request",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthError"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden Error",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal Error",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "x-amazon-apigateway-any-method": {
        "operationId": "methodNotAllowed",
        "tags": [
          "methodNotAllowed"
        ],
        "summary": "methodNotAllowed",
        "description": "Esse metodo é responsavel em responder 405 para metodos não declarados",
        "parameters": [
          {
            "in": "header",
            "name": "Authorization",
            "description": "token de autenticação para acessar o recurso",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "orderNumber",
            "description": "O número do pedido na plataforma Zé Delivery",
            "required": true,
            "example": 123456789,
            "schema": {
              "type": "string",
              "minimum": 9
            }
          }
        ],
        "responses": {
          "405": {
            "description": "Method not allowed",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/logistics/startRoute/{orderNumber}": {
      "post": {
        "operationId": "startRouteOrder",
        "tags": [
          "Logistics"
        ],
        "summary": "Start Route Order",
        "description": "### Objetivo\n\nInformar início de rota/coleta pelo entregador (rota iniciada).\n\n### Quando usar\n\nUtilize este endpoint somente quando:\n\n- O entregador iniciar a rota de entrega após coletar o pedido no PDV.\n- O body com o `email` do entregador estiver disponível.\n\n### Quando NÃO usar\n\nEste endpoint não deve ser utilizado para:\n\n- Sinalizar chegada ao endereço do cliente — use `/logistics/arrived/{orderNumber}`.\n- Confirmar a entrega final — use `/logistics/finishDelivery/{orderNumber}`.\n\n### Importante\n\nRequer header `Authorization: Bearer <token>`. Retorna `202` quando aceito para processamento. Schema do body: `startRouteOrderInput`.\n\n```mermaid\nsequenceDiagram\n  participant Entregador as Seu sistema (entregador)\n  participant API as Zé Seller Public API\n  Entregador->>API: POST /logistics/startRoute/{orderNumber}\n  Note right of API: Body: { email }\n  API-->>Entregador: 202 Aceito para processamento\n```",
        "parameters": [
          {
            "in": "header",
            "name": "Authorization",
            "description": "token de autenticação para acessar o recurso",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "orderNumber",
            "description": "O número do pedido na plataforma Zé Delivery",
            "required": true,
            "example": 123456789,
            "schema": {
              "type": "string",
              "minimum": 9
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/startRouteOrderInput"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Requisição em processamento",
            "headers": {},
            "content": {
              "application/json": {}
            }
          },
          "400": {
            "description": "Bad Request",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthError"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden Error",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal Error",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "x-amazon-apigateway-any-method": {
        "operationId": "methodNotAllowed",
        "tags": [
          "methodNotAllowed"
        ],
        "summary": "methodNotAllowed",
        "description": "Esse metodo é responsavel em responder 405 para metodos não declarados",
        "parameters": [
          {
            "in": "header",
            "name": "Authorization",
            "description": "token de autenticação para acessar o recurso",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "orderNumber",
            "description": "O número do pedido na plataforma Zé Delivery",
            "required": true,
            "example": 123456789,
            "schema": {
              "type": "string",
              "minimum": 9
            }
          }
        ],
        "responses": {
          "405": {
            "description": "Method not allowed",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/logistics/arrived/{orderNumber}": {
      "post": {
        "operationId": "arrivedOrder",
        "tags": [
          "Logistics"
        ],
        "summary": "Arrived Order",
        "description": "### Objetivo\n\nInformar que o pedido chegou ao destino (entregador chegou no endereço do cliente).\n\n### Quando usar\n\nUtilize este endpoint somente quando:\n\n- For necessário sinalizar a chegada do entregador ao endereço do cliente, antes da tentativa de entrega ou entrega final.\n- O body com o `email` do entregador estiver disponível.\n\n### Quando NÃO usar\n\nEste endpoint não deve ser utilizado para:\n\n- Confirmar que a entrega foi concluída — use `/logistics/finishDelivery/{orderNumber}`.\n- Registrar outros eventos anteriores da jornada (coleta, início de rota).\n\n### Importante\n\nRequer header `Authorization: Bearer <token>`. Body com `email` do entregador é obrigatório. Retorna `202` quando aceito para processamento. Schema do body: `ArrivedOrderInput`.\n\n```mermaid\nsequenceDiagram\n  participant Entregador as Seu sistema (entregador)\n  participant API as Zé Seller Public API\n  Entregador->>API: POST /logistics/arrived/{orderNumber}\n  Note right of API: Body: { email }\n  API-->>Entregador: 202 Aceito para processamento\n```",
        "parameters": [
          {
            "in": "header",
            "name": "Authorization",
            "description": "token de autenticação para acessar o recurso",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "orderNumber",
            "description": "O número do pedido na plataforma Zé Delivery",
            "required": true,
            "example": 123456789,
            "schema": {
              "type": "string",
              "minimum": 9
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ArrivedOrderInput"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Requisição em processamento",
            "headers": {},
            "content": {
              "application/json": {}
            }
          },
          "400": {
            "description": "Bad Request",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthError"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden Error",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal Error",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "x-amazon-apigateway-any-method": {
        "operationId": "methodNotAllowed",
        "tags": [
          "methodNotAllowed"
        ],
        "summary": "methodNotAllowed",
        "description": "Esse metodo é responsavel em responder 405 para metodos não declarados",
        "parameters": [
          {
            "in": "header",
            "name": "Authorization",
            "description": "token de autenticação para acessar o recurso",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "orderNumber",
            "description": "O número do pedido na plataforma Zé Delivery",
            "required": true,
            "example": 123456789,
            "schema": {
              "type": "string",
              "minimum": 9
            }
          }
        ],
        "responses": {
          "405": {
            "description": "Method not allowed",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/logistics/validateCode/{orderNumber}": {
      "post": {
        "operationId": "validateCode",
        "tags": [
          "Logistics"
        ],
        "summary": "Validate Code",
        "description": "### Objetivo\n\nValidar o código de entrega (`deliveryCode`) informado no momento da entrega ou retirada do pedido.\n\n### Quando usar\n\nUtilize este endpoint somente quando:\n\n- For necessário verificar se o `deliveryCode` informado pelo entregador ou cliente é válido para o pedido em questão.\n\n### Quando NÃO usar\n\nEste endpoint não deve ser utilizado para:\n\n- Autorização de pagamento ou verificação de identidade além da validação do código de entrega.\n- Confirmar a conclusão da entrega — use `/logistics/finishDelivery/{orderNumber}` após validar o código.\n\n### Importante\n\nRequer header `Authorization: Bearer <token>`. Body obrigatório com `deliveryCode`. Retorna `200` em caso de código válido. Schema do body: `ValidateCodeInput`.\n\n```mermaid\nsequenceDiagram\n  participant Entregador as Seu sistema (entregador)\n  participant API as Zé Seller Public API\n  Entregador->>API: POST /logistics/validateCode/{orderNumber}\n  Note right of API: Body: { deliveryCode }\n  API-->>Entregador: 200 Código validado com sucesso\n```",
        "parameters": [
          {
            "in": "path",
            "name": "orderNumber",
            "description": "O número do pedido na plataforma Zé Delivery",
            "required": true,
            "example": 123456789,
            "schema": {
              "type": "string",
              "minimum": 9
            }
          },
          {
            "in": "header",
            "name": "Authorization",
            "description": "token de autenticação para acessar o recurso",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ValidateCodeInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Code validated successfully",
            "headers": {},
            "content": {
              "application/json": {}
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden Error",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal Error",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "x-amazon-apigateway-any-method": {
        "operationId": "methodNotAllowed",
        "tags": [
          "methodNotAllowed"
        ],
        "summary": "methodNotAllowed",
        "description": "Esse metodo é responsavel em responder 405 para metodos não declarados",
        "parameters": [
          {
            "in": "path",
            "name": "orderNumber",
            "description": "O número do pedido na plataforma Zé Delivery",
            "required": true,
            "example": 123456789,
            "schema": {
              "type": "string",
              "minimum": 9
            }
          },
          {
            "in": "header",
            "name": "Authorization",
            "description": "token de autenticação para acessar o recurso",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "405": {
            "description": "Method not allowed",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/logistics/finishDelivery/{orderNumber}": {
      "post": {
        "operationId": "finishDelivery",
        "tags": [
          "Logistics"
        ],
        "summary": "Finish Route",
        "description": "### Objetivo\n\nMarcar o pedido como entregue (finalizar rota e status do pedido).\n\n### Quando usar\n\nUtilize este endpoint somente quando:\n\n- A entrega foi concluída com sucesso pelo entregador.\n- O body com o `email` do entregador estiver disponível; `lat`/`long` são opcionais para registro de geolocalização.\n\n### Quando NÃO usar\n\nEste endpoint não deve ser utilizado para:\n\n- Cancelar ou reverter o status de entrega — use `/logistics/cancel/{orderNumber}` para cancelamentos pelo entregador.\n- Sinalizar etapas intermediárias (coleta, rota, chegada) — use os endpoints de evento correspondentes antes de finalizar.\n\n### Importante\n\nRequer header `Authorization: Bearer <token>`. Retorna `202` quando aceito para processamento. Schema do body: `OrderDeliveredInput`.\n\n```mermaid\nsequenceDiagram\n  participant Entregador as Seu sistema (entregador)\n  participant API as Zé Seller Public API\n  Entregador->>API: POST /logistics/finishDelivery/{orderNumber}\n  Note right of API: Body: { email, lat?, long? }\n  API-->>Entregador: 202 Pedido marcado como entregue\n```",
        "parameters": [
          {
            "in": "path",
            "name": "orderNumber",
            "description": "O número do pedido na plataforma Zé Delivery",
            "required": true,
            "example": 123456789,
            "schema": {
              "type": "string",
              "minimum": 9
            }
          },
          {
            "in": "header",
            "name": "Authorization",
            "description": "token de autenticação para acessar o recurso",
            "required": true,
            "schema": {
              "type": "string"
[...]
